<h1>SkateParks#index</h1>
<p>Find me in app/views/skate_parks/index.html.erb</p>

<table>
  <tr>
    <td>Name</td>
    <td>Address</td>
  <% @skate_parks.each do |skate_park| %>
    </tr>
    <tr>
      <td><%= link_to skate_park['name'], skate_park_path(skate_park['id'].to_i) %></td>
      <td><%= skate_park['address'] %></td>
    </tr>
  <% end %>
</table>
